.content-about {
	padding: 6em 0;
}
/*--icons--*/
.heat {
	background: url("../images/heater.png") no-repeat center;
}
.faucet {
	background: url("../images/faucet.png") no-repeat center;
}
.crane {
	background: url("../images/crane.png") no-repeat center;
}
.road {
	background: url("../images/road.png") no-repeat center;
}
.pipe-valve {
	background: url("../images/pipe-valve.png") no-repeat center;
}
.air-conditioner {
	background: url("../images/air-conditioner.png") no-repeat center;
}
/*--test--*/
.test-top-g {
	text-align: center;
	margin-bottom: 4em;
}
.test-top-g h3 {
	text-align: center;
	margin-bottom: 0.4em;
	font-size: 3em;
	font-weight: bold;
	color: $font_color_1;
}
.test {
	padding: 6em 0;
	background: url("../images/tt.jpg") no-repeat center;
	width: 100%;
	min-height: 402px;
	display: block;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
}
.test-top2 {
	background: $background_about;
	padding: 1.5em;
}
.test-top3 {
	background: $accent_color_about;
	padding: 1.5em;
}
.test-top2 p {
	float: right;
	color: $item_color_about;
	font-size: 0.9em;
	line-height: 2em;
	width: 86%;
}
.test-top2 img {
	float: left;
}
.test-top3 img {
	float: left;
	border-radius: 100px;
	width: 20%;
	border: 2px solid $font_color_1_about;
}
.test-top3 h6 {
	float: right;
	color: $font_color_2_about;
	font-size: 1em;
	line-height: 2em;
	width: 76%;
	margin-top: 1em;
	margin-left: 4%;
	font-style: italic;
}
/*--test--*/
.col-left {
	float: left;
}
.col-left span {
	color: $accent_color_about;
	font-size: 5em;
	display: block;
	font-weight: 600;
	transform: rotate(-90deg);
}
.col-right {
	float: right;
	width: 72%;
}
.col-right h6 {
	margin: 0;
	font-size: 1.3em;
	color: $font_color_2_about;
}
.col-right p {
	margin: 1.2em 0 0;
	font-size: 0.9em;
	line-height: 1.9em;
	color: $item_color_about;
}
.wel h6 {
	font-size: 0.9em;
	color: $item_color_about;
	font-style: italic;
}
.wel h2 {
	font-size: 3.2em;
	color: $font_color_2_about;
	font-weight: 900;
	margin: 0.1em 0;
}
.wel p {
	font-size: 0.9em;
	line-height: 1.9em;
	color: $item_color_about;
}
.us-col {
	margin-bottom: 2em;
}
/*--//about--*/
/*-- services --*/
.services-list {
	padding: 90px 0;
}
.services-gds {
	margin-top: 55px;
}
.list-gds {
	span {
		color: $accent_color_about;
		font-size: 0;
		width: 32px;
		height: 32px;
		// border:1px solid red;
	}
}
.list-gds:nth-child(2),
.list-gds:nth-child(5) {
	border-left: 1px solid $accent_color_about;
	border-right: 1px solid $accent_color_about;
}
.list-gds:nth-child(4),
.list-gds:nth-child(5),
.list-gds:nth-child(6) {
	border-top: 1px solid $accent_color_about;
}
.list-gds p {
	font-size: 14px;
	line-height: 2.2em;
	color: $item_color_2_about;
}
.list-gds h4 {
	color: $font_color_2_about;
	font-size: 26px;
	margin: 25px 0 27px;
}
.list-gds {
	padding: 60px 16px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.list-gds:hover {
	// background: url(../images/pic27.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
#radiator:hover {
	background: url("../images/heating.jpg") no-repeat center;
}
#sewer:hover {
	background: url("../images/sewer.jpg") no-repeat center;
}
#construction:hover {
	background: url("../images/construction6.jpg") no-repeat center;
}
#road_constr:hover {
	background: url("../images/roadconstr.jpg") no-repeat center;
}
#gas:hover {
	background: url("../images/gas.jpg") no-repeat center;
}
#ac:hover {
	background: url("../images/ac.jpg") no-repeat center;
}
.list-gds:hover.list-gds h4 {
	color: $font_color_1_about;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.list-gds:hover.list-gds p {
	color: $font_color_1_about;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*-- //services --*/
title {
	img {
		height: 100px;
		width: 300px;
	}
}
