/*-- contact --*/
.contact {
	padding: 6em 0;
}
.contact form {
	margin-top: 6em;
}
.contact h2 {
	font-size: 3em;
	color: $font_color_2;
	margin-bottom: 0.5em;
	font-weight: bold;
	text-align: center;
}
.contact-grid1 {
	text-align: center;
}
.con-ic {
	width: 30px;
	height: 30px;
	display: block;
	border: 1px solid $accent_color;
	-webkit-transform: rotate(45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(45deg) translate3d(0, 0, 0);
	-o-transform: rotate(45deg) translate3d(0, 0, 0);
	transform: rotate(45deg) translate3d(0, 0, 0);
	margin: 0 auto;
}
.contact-grid1 i {
	width: 30px;
	height: 30px;
	font-size: 0.9em;
	color: $font_color_2;
	-webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(-45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(-45deg) translate3d(0, 0, 0);
	-o-transform: rotate(-45deg) translate3d(0, 0, 0);
	transform: rotate(-45deg) translate3d(0, 0, 0);
	line-height: 1.9em;
}
.contact-grid1 h4 {
	font-size: 1.5em;
	color: $font_color_2;
	margin: 1em 0 0.5em;
}
.contact-grid1 p {
	font-size: 1em;
	color: $item_color;
	line-height: 1.5em;
	margin: 0;
}
.contact-grid1 p a {
	color: $item_color;
	text-decoration: none;
}
.contact-grid1 p a:hover {
	color: $font_color_2;
}
.contact-grid1 p span {
	display: block;
}
.contact-grids {
	margin: 5em 0 0;
}
.contact-form1 h4,
.contact-me h4 {
	font-size: 1em;
	color: $table_border_color;
	margin: 0 0 0.5em;
}
.contact-form1 {
	padding: 0 1em 0 0;
}
.contact-form {
	padding: 0;
}
.contact-form1 input[type="email"],
.contact-form1 input[type="text"],
.contact-me textarea {
	outline: none;
	padding: 10px;
	border: 1px solid $item_color;
	background: $background_color_2;
	font-size: 14px;
	color: $item_color;
	width: 100%;
}
.contact-me textarea {
	min-height: 300px;
}
.contact-me {
	margin-top: 1em;
}
.contact-grids1 input[type="submit"] {
	outline: none;
	padding: 10px 0;
	border: none;
	background: $accent_color;
	font-size: 1em;
	color: $font_color_1;
	width: 100%;
	margin: 1.5em 0 0;
}
.contact-grids1 input[type="submit"]:hover {
	background: $font_color_2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.map iframe {
	width: 100%;
	min-height: 500px;
}
/*-- //contact --*/


/*-- contact --*/
.mail_us{
	margin-bottom:70px;
}
.navbar-default .navbar-nav > li > a.active {
    color: $team_text_color !important;
}
.mail_left img{
	width:100%;
}
.mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
    background: none;
    width: 100%;
    color: $table_text_color;
    padding: 12px 10px;
    border: none;
    margin-bottom: 32px;
	outline:none;
    border-bottom: 2px solid $accent_color;
}
.mail_right textarea {
	height:200px;
	resize:none;
}
.mail_right input[type="submit"] {
    border: none;
    outline: none;
    color: $font_color_1;
    background: $accent_color;
    font-size: 16px;
    padding: 9px 38px;
}
.mail_right input[type="submit"]:hover{
    background: $background_color_accent;
}
/*-- contact --*/
