/*--HEADER--*/

.header {
    background: url("../images/main6.jpg") no-repeat center;
    width: 100%;
    height: 800px;
    text-align: center;
    background-size: cover;
}
.head {
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.34);
}

.navbar-top {
    float: left;
    width: 70%;
}


.company_logo{
	width: 150px;
	height: 63px;
}

.banner {
    margin-top: 11em;
    h2 {
        font-size: 4em;
        color:$font_color_1 ;
        -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
        -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
        -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
        -o-transform: rotate(-45deg) translate3d(0, 0, 0);
        transform: rotate(-45deg) translate3d(0, 0, 0);
        display: block;
        line-height: 1.4em;
        width: 100px;
        height: 100px;
    }
    p {
        font-size: 0.9em;
        color: $font_color_1;
        line-height: 2em;
        width: 50%;
        margin: 0 auto;
    }
    span {
        display: block;
        margin: 5em 0;
    }
}

.header1 {
    height: 92px;
}
.banner-text {
    border: 2px solid $font_color_1;
    display: inline-block;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
}
.banner-t {
    text-align: center;
    margin: 6em auto;
    width: 20%;
    position: relative;
    b {
        width: 100%;
        height: 2px;
        display: block;
        background: $accent_color;
        margin-bottom: 3px;
        .lin {
            width: 80%;
            margin: 0 auto;
        }
    }
    span {
        width: 40px;
        height: 40px;
        display: block;
        background: rgb(35, 39, 42);
        position: absolute;
        top: -7px;
        left: 45%;
        i {
            width: 20px;
            height: 20px;
            display: block;
            border: 2px solid $accent_color;
            -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
            -moz-transform: rotate(45deg) translate3d(0, 0, 0);
            -ms-transform: rotate(45deg) translate3d(0, 0, 0);
            -o-transform: rotate(45deg) translate3d(0, 0, 0);
            transform: rotate(45deg) translate3d(0, 0, 0);
            margin-left: 0.7em;
        }
    }
}
.logo {
    h1 {
        font-size: 1.8em;
        font-family: 'Montserrat', sans-serif;
        a {
            text-decoration: none;
            color: $font_color_1;
            span {
                width: 40px;
                height: 40px;
                display: inline-block;
                border: 2px solid $font_color_1;
                -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
                -moz-transform: rotate(45deg) translate3d(0, 0, 0);
                -ms-transform: rotate(45deg) translate3d(0, 0, 0);
                -o-transform: rotate(45deg) translate3d(0, 0, 0);
                transform: rotate(45deg) translate3d(0, 0, 0);
                margin-right: 12px;
            }
            b {
                width: 40px;
                height: 40px;
                display: inline-block;
                -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
                -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
                -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
                -o-transform: rotate(-45deg) translate3d(0, 0, 0);
                transform: rotate(-45deg) translate3d(0, 0, 0);
                line-height: 1.1em;
                text-align: center;
            }
            i {
                display: block;
                font-style: normal;
                margin-left: 3em;
                font-size: 19px;
            }
        }
    }
}
.navbar-brand {
    height: auto;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}
.navbar-nav {
    float: right;
    margin-top: 1.45em;
}
.header-left {
    float: right;
    margin-top: 1.4em;
}
.header-left {
    ul {
        li {
            display: inline-block;
            font-size: 14px;
            color: $font_color_1;
            margin: 0 1em;
        }
    }
}
.link-effect-4 {
  a {
      padding: 0 10px;
      margin: 0 20px;
      text-shadow: none;
      position: relative;

  }
  a::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      padding: 0;
      max-height: 0;
      color: $accent_color;
      content: attr(data-hover);
      -webkit-transition: max-height 0.5s;
      -moz-transition: max-height 0.5s;
      transition: max-height 0.5s;
  }
  a:hover::before {
      max-height: 110%;
        color: $accent_color;

  }
}
.header-left ul li a {
    text-decoration: none;
    color: $font_color_1;
}
.header-left ul li a:hover {
    color: $accent_color;
}
.header-left ul li i {
    left: -.5em;
}

.navbar-default {
    border: none;
    background: none;
    min-height: auto;
    margin-bottom: 0;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
ul.nav.navbar-nav li a {
    font-size: 1.1em;
    color: $background_color_dark;
    margin: 0 15px;
    padding: 0;
}
.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background: none !important;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: $font_color_1;
}
ul.nav.navbar-nav li.active a {
    color: $accent_color;
    background: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: $font_color_1;
    background: none;
}
