/*--references--*/

.references {
    padding: 90px 0;
	background-color: white;
}

.references-list{
    list-style: none;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 10px;
    display: block;
    li{
        text-align: center;
        display: inline-block;
        margin-left: 20px;
        font-size: 20px;
        color: $item_color_2;


        //  solid white;
        img{
            vertical-align: middle;
            border: 0;
            padding: 30px;
        }
    }
}

/*-- //references --*/
