/*--Projects--*/
.projects_list {
	li {
		color: $table_text_color_projects;
		line-height: 30px;
	}
}
.ser-top {
	margin-bottom: 8em;
	/*-- agileits --*/
}
.ser-top h3 {
	text-align: center;
	margin-bottom: 0.4em;
	font-size: 3em;
	font-weight: bold;
	color: #000;
}
.ser-t {
	text-align: center;
	margin: 0 auto;
	width: 20%;
	position: relative;
}
.ser-t b {
	width: 100%;
	height: 2px;
	display: block;
	background: $accent_color_projects;
	margin-bottom: 3px;
}
.ser-t b.line {
	width: 80%;
	margin: 0 auto;
}
.ser-t span {
	width: 40px;
	height: 40px;
	display: block;
	background: $font_color_1_projects;
	position: absolute;
	top: -7px;
	left: 42%;
}
.ser-t span i {
	width: 20px;
	height: 20px;
	display: block;
	border: 2px solid $accent_color_projects;
	-webkit-transform: rotate(45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(45deg) translate3d(0, 0, 0);
	-o-transform: rotate(45deg) translate3d(0, 0, 0);
	transform: rotate(45deg) translate3d(0, 0, 0);
	margin-left: 0.7em;
}
.ser-head {
	-webkit-transform: rotate(45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(45deg) translate3d(0, 0, 0);
	-o-transform: rotate(45deg) translate3d(0, 0, 0);
	transform: rotate(45deg) translate3d(0, 0, 0);
	display: inline-block;
	-webkit-transition: -webkit-transform 300ms ease-out;
	-moz-transition: -moz-transform 300ms ease-out;
	transition: transform 300ms ease-out;
	float: left;
	width: 25%;
}
.ser-grid:hover {
	background: $accent_color_projects;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.ser-grid {
	width: 220px;
	height: 220px;
	display: block;
	opacity: 1;
	border: 2px solid $accent_color_projects;
	position: relative;
}
.ser-grid1 {
	transform: rotate(-45deg) translate3d(0, 0, 0);
	-webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(-45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(-45deg) translate3d(0, 0, 0);
	-o-transform: rotate(-45deg) translate3d(0, 0, 0);
	text-align: center;
	position: absolute;
	top: 14%;
	left: 4%;
}
.service {
	padding: 6em 0 8em;
}
.ser-grid1 i {
	font-size: 2em;
	color: $font_color_2_projects;
}
.ser-grid1 h3 {
	font-size: 1.8em;
	color: $font_color_2_projects;
	margin: 0.4em 0;
}
.ser-grid1 p {
	font-size: 0.9em;
	color: $item_color_projects;
	line-height: 1.8em;
	margin: 0 0 1em;
	/*-- agileits --*/
}
.ser-grid:hover .ser-grid1 p {
	color: $font_color_1_projects;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--//service--*/
.sap_tabs {
	clear: both;
	padding: 0;
}
.top1 {
	margin-top: 2%;
}
.resp-tabs-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.resp-tab-item {
	margin: 0;
	padding: 21px 20px;
	text-decoration: none;
	color: $table_text_color_projects;
	cursor: pointer;
	font-size: 17px;
	text-transform: uppercase;
	border-right: 2px solid $table_border_color_projects;
	display: block;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: Capitalize;
	font-weight: 100;
	text-align: right;
}
.resp-tab-active,
.resp-tab-item:hover {
	color: $accent_color_projects;
	border-right: 2px solid $accent_color_projects;
}
.resp-tabs-container {
	padding: 0;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-accordion-active,
.resp-content-active {
	display: block;
}
.services {
	background: $background_color;
	padding: 90px 0;
}
.sap_tabs {
	margin-top: 55px;
}
li.resp-tab-item.bath1 {
	background: url("../images/blueprint.png") no-repeat 0 20px;
}
li.resp-tab-item.bath2 {
	background: url("../images/compass.png") no-repeat 0 20px;
}
li.resp-tab-item.bath3 {
	background: url("../images/eco-house.png") no-repeat 0 20px;
}
li.resp-tab-item.bath4 {
	background: url("../images/crane2.png") no-repeat 0 20px;
}

.services h3 {
	color: $font_color_1_projects;
}
.recharge-right {
	padding: 0;
}
.product-right h4 {
	font-size: 24px;
	color: $accent_color_projects;
}
.product-right p {
	font-size: 14px;
	color: $table_text_color_projects;
	line-height: 2.2em;
	margin-top: 26px;
}
/*-- //products --*/
