$accent_color: orange;
$accent_color_2: orange;
$font_color_1:#fff;
$font_color_2:#000;
$team_text_color:#F2593A;
$item_color:#999;
$table_text_color:#A9A8A8;
$table_border_color:#6F6F6F;
$background_color:#252525;
$team_background_color:#E2E2E2;
$image_border_color:#B7B7B7;
