$accent_color: orange;
$accent_color_2: orange;
$font_color_1:#fff;
$font_color_2:#000;
$team_text_color:#F2593A;
$item_color:#999;
$item_color_2:#464646;
$table_text_color:#A9A8A8;
$table_border_color:#6F6F6F;
$team_background_color:#E2E2E2;
$image_border_color:#B7B7B7;
$background_color:#252525;
$background_color_2:#ECECEC;
$background_color_light:#fff;
$background_color_dark:#232323;
$background_color_accent:#F2593A;


// $header_font_color:#464646;
// $header_font_color_accent:#F2593A;
// $header_menu_background:rgba(255, 255, 255, 0.34);


$header_menu_background:rgba(169, 168, 168, 0.34);
$header_font_color:#fff;
$header_font_color_accent:orange;
